.label {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.43;
  color: var(--text-color);
  padding-bottom: 10px;
}

.checkbox__box {
  margin: 10px 30px 20px;
  display: flex;
  align-items: flex-start;
}
.checkbox__label {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.43;
  color: var(--dark-gray_color) !important;
  padding-right: 5px;
}
.checkbox {
  margin-top: 5px;
}
.checkbox__link {
  display: inline;
  font-size: 14px;
  line-height: 1.43;
  text-align: left;
  border: none;
  background: none;
  color: var(--pink-color);
  transition: all 0.35s ease-in-out;
  font-weight: 600;
}

.login__link {
  font-size: 14px;
  color: #000000;
  line-height: 1.43;
}

.checkbox__link:hover {
  color: var(--blue-color);
  text-decoration: underline;
}
