.swiper-pagination {
  position: relative !important;

  & span {
    width: 10px;
    height: 10px;
    border: solid 2px var(--pink-color);
    background: var(--white-color);
    margin: 10px !important;
    opacity: 1;
  }
}

.swiper-pagination-bullet-active {
  background: var(--pink-color) !important;
}
