.container {
  position: relative;
}

.nav__link,
.active {
  position: relative;
  color: var(--black-color);
  font-weight: 600;
  text-transform: uppercase;
  padding: 15px;
  display: flex;
  align-items: center;
  & i {
    padding-left: 5px;
  }

  &:hover {
    color: var(--pink-color);
  }
}

.list {
  display: flex;
  flex-direction: column;
  position: absolute;
  padding-left: 20px;
  background-color: var(--white-color);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 150px;
  transition: all 1s ease-in-out;
}

.item {
  padding-top: 10px;
  font-size: 14px;
  &:first-child {
    padding-top: 50px;
  }
  &:last-child .hr {
    display: none;
  }
  &:last-child {
    padding-bottom: 20px;
  }
}

.link {
  color: var(--black-color);
  font-weight: 400;
  &:hover {
    color: var(--pink-color);
  }
}
.hr {
  margin-top: 10px;
  width: 90%;
  height: 1px;
  background-color: rgb(219, 213, 213);
  opacity: 0.7;
}
