.section {
  max-width: 1170px;
  margin: 0 auto 100px;
}
.title {
  font-size: 18px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0.4px;
  color: var(--black-color);
  padding: 60px 200px;
  text-align: center;
}

.container {
  display: flex;
  justify-content: space-between;
}
