.button {
  border-radius: 24px;
  width: 320px;
  padding: 10px 0;
  background: white;
  border: solid 2px rgba(18, 58, 50, 0.12);
  align-items: baseline;
  display: flex;
  text-decoration: none;
  position: relative;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
  font-weight: 600;
  font-size: 14px;
  margin: 32px 0;
  transition: all 0.35s ease-in-out;

  &:hover {
    border-color: var(--pink-color);
  }
  & i {
    background: conic-gradient(
        from -45deg,
        #ea4335 110deg,
        #4285f4 90deg 180deg,
        #34a853 180deg 270deg,
        #fbbc05 270deg
      )
      73% 55%/150% 150% no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    padding-right: 10px;
  }
}
