.box {
  position: absolute;
  width: 300px;
  height: auto;
  border-radius: 20px;
  font-size: 20px;
  color: var(--white-color);
  background-color: rgb(235, 15, 15);
  z-index: 999;
  text-align: center;
  top: 180px;
  padding: 15px 15px;
}
