.list {
  width: 1200px;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  &__title {
    font-size: 18px;
    font-weight: 600;
    line-height: 26px;
    margin: 16px 0px 12px 0px;
    padding: 0px 16px;
    & a {
      color: var(--black-color);
      &:hover {
        color: var(--pink-color);
      }
    }
  }
  /* ==================== LIST ITEM ==================== */
  &__item {
    width: 370px;
    background-color: var(--white-color);
    height: 650px;
    border-radius: 30px;
  }
  //   /* ==================== LIST TEXT ==================== */
  &__text {
    color: rgba(18, 58, 50, 0.5);
    font-size: 14px;
    line-height: 21px;
    padding: 0px 16px;
  }
  /* ==================== LIST INFO ==================== */
  &__info {
    padding: 0 16px;
    display: flex;
    justify-content: space-around;
    width: calc(100% - 30px);
  }

  /* ==================== LIST HR ==================== */
  &__hr {
    height: 1px;
    margin: 10px 16px;
    background-color: rgba(66, 135, 121, 0.1);
    width: calc(100% - 30px);
  }

  /* ==================== LIST FOOTER ==================== */
  &__footer {
    display: flex;
    padding: 10px 16px 10px;
    position: relative;
    & p {
      position: absolute;
      font-size: 24px;
      font-weight: 600;
      top: 25px;
      color: #123a32;
    }
  }
}
.link {
  padding: 16px 16px 0px 16px !important;
  display: flex;
  flex-flow: column;
  overflow: hidden;
  text-decoration: none;
  position: relative;
}
/* ==================== TOUR ITEM ==================== */
.tour__item {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 125px;

  /* ==================== TOUR TITLE ==================== */
  & h6 {
    font-size: 14px;
    line-height: 1.5;
    color: var(--black-color);
  }
  /* ==================== TOUR TEXT ==================== */
  & p {
    color: #889c98;
    line-height: 1.5;
    letter-spacing: 0.16px;
    font-size: 14px;
  }
}

/* ==================== LIST IMG ==================== */
.img__box {
  border-radius: 24px;
  position: relative;
  width: 340px;
  height: 254px;
  overflow: hidden;
}
.img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  object-fit: cover;
  transition: all 0.35s linear;
  &__title {
    color: var(--white-color);
    border-radius: 0px 8px 8px 0px;
    position: absolute;
    font-size: 14px;
    padding: 6px 8px;
    font-weight: 600;
    line-height: 1.43;
    letter-spacing: 1px;
    z-index: 999;
    top: 15%;
    left: 0;
  }
}
.img:hover {
  transform: scale(1.15);
}
