.link {
  position: relative;
  display: block;
  border-radius: 24px 24px 0px 0px;
  margin-bottom: 24px;
  overflow: hidden;
}
.img {
  width: 100%;
  height: auto;
  transform: scale(1.1);
  transition: all 0.35s;
  &:hover {
    transform: scale(1.2);
  }
}
.list {
  display: flex;
  align-items: center;
}
.text {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.32px;
  text-transform: uppercase;
  margin-right: 20px;
  position: relative;
  color: var(--light_green-color);
  padding-left: 16px;
  &::after {
    content: '';
    position: absolute;
    top: 8px;
    right: -12px;
    height: 4px;
    width: 4px;
    border-radius: 50%;
    background-color: #869a96;
  }
}
.date {
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: normal;
  color: #869a96;
}

.title {
  padding-left: 16px;
  margin: 10px 0px 16px 0px;
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: normal;
  transition: all 0.35s;
  width: 322px;
  & a {
    color: var(--black-color);
    &:hover {
      color: var(--orange-color);
    }
  }
}

.description {
  font-family: 'Poppins', sans-serif !important;
  color: var(--black-color);
  font-size: 13px;
  font-weight: normal;
  line-height: 1.5;
  padding: 0 16px 25px;
}
