.contact {
  display: flex;
  width: 530px;
  justify-content: space-around;
  align-items: center;
  &__item {
    font-size: 14px;
    font-weight: 500;
    height: 20px;
  }
  &__link {
    color: var(--black-color);
  }
  &__hr {
    width: 1px;
    height: 40px;
    background-color: var(--dar_blue-color);
  }
}
.phone {
  color: var(--pink-color);
  text-decoration: underline;
}
.auth {
  color: var(--black-color);
  border: none;
  background: none;
  font-weight: 600;
  height: 20px;
  letter-spacing: 1.2px;
  &:hover {
    color: var(--pink-color);
  }
}
