.contact {
  display: flex;
  width: 530px;
  justify-content: space-around;
  align-items: center;
  &__item {
    font-size: 14px;
    font-weight: 500;
    height: 20px;
  }
  &__link {
    color: var(--black-color);
  }
  &__hr {
    width: 1.3px;
    height: 22px;
    background-color: var(--dar_blue-color);
  }
}
.phone {
  color: var(--pink-color);
  text-decoration: underline;
}
.auth:hover {
  color: var(--pink-color);
}
