.multi {
  background-image: url(../img/bgc/multi_XL.png);
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-bottom: 50px;
}

.multi__container {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
}

.multi__left .section__title,
.multi__left .section__description {
  text-align: left;
}
.multi__left .view__button {
  margin: 50px 0 100px;
}
.multi__description {
  font-size: 14px;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: rgba(18, 58, 50, 0.5);
  margin-bottom: 6px;
  display: block;
  max-width: 469px;
}
.multi__left,
.multi__right {
  width: 50%;
  padding: 0 15px;
}
.multi__right div {
  margin-top: 140px;
}
