/* ==================== HEADER ==================== */
header {
  width: 100%;
  height: 99px;
}

.nav {
  max-width: 1170px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  align-content: center;
}

/* ==================== NAV__LOGO ==================== */
.nav__logo {
  padding-right: 30px;
}

/* ==================== NAV__LIST ==================== */
.nav__list {
  display: flex;
  justify-content: space-around;
  padding-right: 50px;
}

.nav__list--item {
  font-size: 14px;
  padding: 0 20px;
}

.nav__list--link {
  color: var(--text-color);
  font-weight: 600;
  text-transform: uppercase;
}

.nav__list--item :hover,
:focus {
  color: var(--hover-color);
}

/* ==================== NAV__CONTACT ==================== */
.nav__contact {
  display: flex;
  width: 530px;
  justify-content: space-around;
  align-items: center;
}
.nav__contact--item {
  font-size: 14px;
  font-weight: 500;
  height: 20px;
}

.nav__contact--link {
  color: var(--text-color);
}
.phone {
  color: var(--hover-color);
  text-decoration: underline;
}
.nav__contact--hr {
  width: 1.3px;
  height: 22px;
  background-color: #1a2b48;
}

.auth:hover {
  color: var(--hover-color);
}
