.container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
}

.input {
  padding: 12px 24px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.5;
  color: var(--black-color);
  width: 320px;
  border-radius: 40px;
  border: solid 1px #eeeeee;
  background-color: rgba(18, 58, 50, 0.04);
  outline: none;
}
