.left {
  width: 50%;
  text-align: left;
  padding: 0 15px;
}

.description {
  font-size: 14px;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: rgba(18, 58, 50, 0.5);
  margin-bottom: 6px;
  display: block;
  max-width: 469px;
}
