.multi {
  background-image: url(../../../../public/img/HomePage/multi/multi_XL.png);
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-bottom: 80px;
}
.container {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
}
