.bottom {
  width: 100%;
  background-color: #441461;
}
.container {
  max-width: 1170px;
  margin: 0 auto;
  padding-top: 60px;
  display: flex;
  padding: 50px 10px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: end;
  max-width: 1170px;
  margin: 0 auto;
  padding: 30px 10px 50px;
  & p {
    font-size: 14px;
    line-height: 1.43;
    color: rgba(255, 255, 255, 0.5);
  }
  & span {
    color: var(--white-color);
  }
}
