.item {
  width: 570px;
  padding-bottom: 20px;
  & {
    border-bottom: 2px dashed #eee;
  }
}

.title {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
  color: var(--black-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 570px;
  padding: 16px 0;

  & i {
    color: var(--pink-color);
  }
  &:focus,
  &:hover {
    cursor: pointer;
  }
}
.hide {
  display: none;
}

.text {
  position: relative;
  line-height: 1.5;
  color: rgba(18, 58, 50, 0.5);
  font-size: 14px;

  & p {
    position: absolute;
    animation: ani 1s forwards;
    padding-bottom: 16px;
  }
  &__box {
    opacity: 0;
  }
}

@keyframes ani {
  0% {
    transform: translateY(-20%);
  }
  100% {
    transform: translateY(0);
  }
}
