.modal__backrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  animation: fadein 1s;
}
.modal {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 850px;
  height: 740px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
    0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 1000px) {
  .modal {
    width: 650px;
    height: 650px;
  }
}

@media screen and (max-width: 765px) {
  .modal {
    width: 550px;
    height: 510px;
  }
}
@media screen and (max-width: 575px) {
  .modal {
    width: 390px;
  }
}

@media screen and (max-width: 450px) {
  .modal {
    width: 290px;
    height: 420px;
  }
}
